*{
    background-color: black;
}

a:link {
    text-decoration: none;
  }

#canada{
    border-color: white;
    text-align: center;
}

#ReturnMenuBtn{
    color:white;
    font-size: 2rem;
    font-weight: 200;
    border:none;
}

#ReturnMenuBtn:hover{
    background-color:white;
    font-size: 2rem;
    font-weight: 200;
    color:black;
    transition: 0.5s;
    border:none;
}

p{
    color: white;
    text-decoration: none;
    /* rid of underline */
}

h1{
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color:white;
}

.row{
    justify-content: center;
    padding-top: 1rem;
}

.col{
    /* justify-content: center; */
    padding-top: 1rem;
}